.ErrorImage {
    width: 500px;
    height: auto;
}

.ErrorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ErrorText {
    font-size: 20px;
}